@charset "utf-8";

.opening {
    padding: 0 5.5% 3.5% 5.5%;
    text-align: justify;
}

#tourWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5.5%;
}

#tourWrap div {
    background: #fff;
    width: 47%;
    /* margin-bottom: 3.5%; */
    border-radius: 10px;
    padding-bottom: 1.3%;
    position: relative;
    margin-bottom: 3.5%;
}

#tourWrap div:last-child {
    margin-bottom: 0;
}

.category {
    background: #fff;
    width: 7em;
    position: absolute;
    top: 2.5%;
    right: 0;
    border-radius: 1em 0 0 1em;
    font-size: 0.875rem;
    padding-left: 5px;
}

.know::before {
    content: "● ";
    color: #0071BB;
}

.watch::before {
    content: "● ";
    color: #F6921E;
}

.experience::before {
    content: "● ";
    color: #39B44A;
}

dl dt img {
    border-radius: 10px 10px 0 0;
}

dl dt p {
    font-size: 1.38rem;
    font-weight: bold;
    color: #808080;
    margin: 0 3% 1.3%;
    border-bottom: 1px solid #000;
    text-align: justify;
    padding: 1.3% 0;
}

dl dd p {
    margin: 0 3%;
    text-align: justify;
}

.date {
    border-top: 1px solid #000;
    margin-top: 1.3%;
    padding-top: 1.3%;
}


/* レスポンシブ開始------------------------------------------- */


@media screen and (max-width:599px) {

    .opening {
        padding: 0 0 3.5% 0;
    }

    #tourWrap {
        display: block;
        padding: 0 0;
    }

    #tourWrap div {
        width: 100%;
        margin-bottom: 7%;
        padding-bottom: 1.3%;
        position: relative;
    }
    

}
